{% extends 'base.html.twig' %}

{% block title %}Productos | {{ parent() }}{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    <!-- Imagen principal con texto -->
    <section class="hero text-center py-5">

        <h1 class="mt-3">Productos</h1>
    </section>

    <!-- cuerpo -->
    <!-- Tartas Creativas -->
    <section class="py-5 productosContainers">
        <div class="container">
            <h2 class="text-center mb-4" style="font-size: 40px;">Tartas Creativas</h2>
            <p class="text-center" style="font-size: 30px; margin-bottom: 50px;">Personalizadas según tus ideas,
                destacan por sus diseños
                únicos y acabados impecables. ¡Cada tarta es una experiencia visual y deliciosa!</p>
            <!-- Tarjetas de tartas -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/tarta1.png') }}" class="card-img-top" alt="1">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/tarta3.png') }}" class="card-img-top" alt="2">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/tarta6.png') }}" class="card-img-top" alt="3">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/tarta7.png') }}" class="card-img-top" alt="4">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{{ path('categorias', { categoria: 'tartas-creativas' }) }}" class="d-block mb-2" style="text-decoration: none;">
                <button class="custom-btn mt-3 mx-auto d-block">Ver más</button>
            </a>
        </div>
        </div>
    </section>

    <!-- Tartas Preferencias Alimenticias -->
    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4" style="font-size: 40px; ">Especiales con Preferencias Alimenticias</h2>
            <p class="text-center" style="font-size: 30px; margin-bottom: 50px;">Nuestras tartas especiales, sin gluten,
                veganas o sin
                lactosa, están hechas para que todos disfruten. ¡Sabores irresistibles para cada necesidad!</p>
            <!-- Tarjetas de tartas -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/pastel1.png') }}" class="card-img-top" alt="1">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/pastel2.png') }}" class="card-img-top" alt="2">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/pastel3.png') }}" class="card-img-top" alt="3">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/pastel4.png') }}" class="card-img-top" alt="4">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="{{ path('categorias', { categoria: 'preferencias' }) }}" class="d-block mb-2" style="text-decoration: none;">
                    <button class="custom-btn mt-3 mx-auto d-block">Ver más</button>
                </a>
            </div>
        </div>
    </section>

    <!-- Tartas Preferencias Alimenticias -->
    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4" style="font-size: 40px; ">Nos encanta el dulce</h2>
            <p class="text-center" style="font-size: 30px; margin-bottom: 50px;">Todos nuestros dulces son deliciosos y
                están
                elaborados con cariño y dedicación</p>
            <p class="text-center" style="font-size: 30px; margin-bottom: 50px;">¡Especiales para Ti!</p>
            <!-- Tarjetas de tartas -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/dulce2.png') }}" class="card-img-top" alt="1">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/dulce3.png') }}" class="card-img-top" alt="2">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/dulce9.png') }}" class="card-img-top" alt="3">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-img-container">
                                <img src="{{ asset('uploads/productos/dulce11.png') }}" class="card-img-top" alt="4">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="{{ path('categorias', { categoria: 'mas-productos' }) }}" class="d-block mb-2" style="text-decoration: none;">
                    <button class="custom-btn mt-3 mx-auto d-block">Ver más</button>
                </a>
            </div>
        </div>
    </section>

    {% include '_footer.html.twig' %}
{% endblock %}