{% extends 'base.html.twig' %}

{% block body %}
    <header class="fondo-rosa header-fino " style="background-color: #fbd1f0;">
        <div class="container d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-secondary d-lg-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" style="color: #000000;">
                ☰
            </button>
            <a href="/">
                <img src="{{ asset('../assets/images/logo_circulo.png') }}" alt="Logo Divertitartas" class="logo">
            </a>
            <div class="d-none d-lg-flex gap-3">
                <a href="/quienes-somos" class="nav-link"
                   aria-selected="{{ app.request.attributes.get('_route') == 'quienes-somos' ? 'true' : 'false' }}"
                   style="{{ app.request.attributes.get('_route') =='quienes-somos' ? 'color: #FF1493FF;' : 'color: black;' }}">QuiénesSomos</a>
                <a href="/servicios" class="nav-link"
                   aria-selected="{{ app.request.attributes.get('_route') == 'servicios' ? 'true' : 'false' }}"
                   style="{{ app.request.attributes.get('_route') =='servicios' ? 'color: #FF1493FF;' : 'color: black;' }}">Servicios</a>
                <a href="Productos.html" class="nav-link"
                   aria-selected="{{ app.request.attributes.get('_route') == 'quienes-somos' ? 'true' : 'false' }}"
                   style="{{ app.request.attributes.get('_route') =='quienes-somos' ? 'color: #FF1493FF;' : 'color: black;' }}">Productos</a>
                <a href="/contacto" class="nav-link"
                   aria-selected="{{ app.request.attributes.get('_route') == 'contacto' ? 'true' : 'false' }}"
                   style="{{ app.request.attributes.get('_route') =='contacto' ? 'color: #FF1493FF;' : 'color: black;' }}">Contacto</a>
            </div>

            <div class="d-flex gap-2">
                {% if app.session.get('email') is defined and app.session.get('email') is not null %}
                    <div class="text-center" style="margin-right: -5px;">
                        <div class="messi-text">
                            <a href="{{ path('cuenta') ~ '?id=' ~ app.session.get('id') }}"
                               style="color: #ff1493; text-decoration: none">{{ app.session.get('nombreCompleto') }}</a>
                        </div>
                        <a href="/" class="d-block mt-1">
                            <button class="btn btn-sm btn-inicio">Cerrar sesión</button>
                        </a>
                    </div>
                {% else %}
                    <a href="/login" style="margin-left: 20px;"><img src="{{ asset('../assets/images/login.png') }}"
                                                                     alt="login" class="icon"
                                                                     style="height: 30px;"></a>
                {% endif %}
                <a href="/carrito"><img src="{{ asset('../assets/images/Carrito.png') }}" alt="Carrito" class="icon"
                                            style="height: 30px;"></a>
            </div>
        </div>

        <!-- Offcanvas Menu -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel"
             style="background-color: #fbd1f0;">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <a href="/" class="d-block mb-2" style="color: #ff1493;">Home</a>
                <a href="/quienes-somos" class="d-block mb-2">Quiénes Somos</a>
                <a href="/servicios" class="d-block mb-2">Servicios</a>
                <a href="Productos.html" class="d-block mb-2">Productos</a>
                <a href="/contacto" class="d-block mb-2">Contacto</a>
            </div>
        </div>
    </header>

{% endblock %}