{% extends 'base.admin.html.twig' %}

{% block body %}

    <!-- Header -->
    <nav class="navbar navbar-expand-lg justify-content-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="/administracion/comunicados">
                <img src="{{ asset('../assets/images/logo_circulo.png') }}" alt="Logo Divertitartas" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
                <div class="navbar-nav gap-2" id="mainMenu">
                    <button class="btn btn-uniforme mx-1 {{ app.request.attributes.get('_route') =='mostrar-accion' and app.request.get('accion') == 'usuarios' ? 'tab-activa' : '' }}"
                            onclick="location.href='/administracion/usuarios'">Gestión de usuarios
                    </button>
                    <button class="btn btn-uniforme mx-1 {{ app.request.attributes.get('_route') =='mostrar-accion' and app.request.get('accion') == 'proveedores' ? 'tab-activa' : '' }}"
                            onclick="location.href='/administracion/proveedores'">Proveedores
                    </button>
                    <button class="btn btn-uniforme mx-1 {{ app.request.attributes.get('_route') =='mostrar-accion' and app.request.get('accion') == 'contabilidad' ? 'tab-activa' : '' }}"
                            onclick="location.href='/administracion/contabilidad'">Contabilidad
                    </button>
                    <button class="btn btn-uniforme mx-1 {{ app.request.attributes.get('_route') =='mostrar-accion' and app.request.get('accion') == 'pedidos' ? 'tab-activa' : '' }}"
                            onclick="location.href='/administracion/pedidos'">Pedidos
                    </button>
                    <button class="btn btn-uniforme mx-1 {{ app.request.attributes.get('_route') =='mostrar-accion' and app.request.get('accion') == 'stock' ? 'tab-activa' : '' }}"
                            onclick="location.href='/administracion/stock'">Stock de productos
                    </button>
                    {% if app.session.get('puesto')|lower=='administrador' %}
                        <button class="btn btn-uniforme mx-1 {{ app.request.attributes.get('_route') =='mostrar-accion' and app.request.get('accion') == 'configuracion' ? 'tab-activa' : '' }}"
                                onclick="location.href='/administracion/configuracion'">Configuración de datos
                        </button>
                    {% endif %}

                </div>
            </div>
            <div class="user-panel ms-3">
                <i class="bi bi-person"></i>
                <span id="loggedUserName">
                     {% if app.session.get('email') is defined and app.session.get('email') is not null %}
                         {{ app.session.get('nombreCompleto') }}
                     {% else %}
                         Pepe
                     {% endif %}
                </span>
                <form action="/logout" method="POST">
                    <button class="btn btn-uniforme" name="logout">Cerrar sesión</button>
                </form>
            </div>
        </div>
    </nav>


{% endblock %}