{% extends 'base.html.twig' %}

{% block body %}
    <header class="fondo-rosa header-fino " style="background-color: #fbd1f0;">
        <div class="container d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-secondary d-lg-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" style="color: #000000;">
                ☰
            </button>
            <a href="/">
                <img src="{{ asset('../assets/images/logo_circulo.png') }}" alt="Logo Divertitartas" class="logo">
            </a>
            <div class="d-none d-lg-flex gap-3">
                <a href="/quienes-somos" class="nav-link"
                   style="{{ app.request.attributes.get('_route') =='quienes-somos' ? 'color: #FF1493FF;' : 'color: black;' }}">QuiénesSomos</a>
                <a href="/servicios" class="nav-link"
                   style="{{ app.request.attributes.get('_route') =='servicios' ? 'color: #FF1493FF;' : 'color: black;' }}">Servicios</a>
                <a href="/productos" class="nav-link"
                   style="{{ app.request.attributes.get('_route') in ['productos', 'categorias', 'producto'] ? 'color: #FF1493FF;' : 'color: black;' }}">Productos</a>
                <a href="/contacto" class="nav-link"
                   style="{{ app.request.attributes.get('_route') =='contacto' ? 'color: #FF1493FF;' : 'color: black;' }}">Contacto</a>
            </div>

            <div class="d-flex gap-1">

                {% set carritoImagen = app.session.get('carrito') is not null ? asset('../assets/images/carrito_lleno.png') : asset('../assets/images/Carrito.png') %}
                <a href="/carrito"><img src="{{ carritoImagen }}" alt="Carrito" class="icon" style="height: 30px;"></a>

                {% if app.session.get('email') is defined and app.session.get('email') is not null %}

                    <div class="text-center" style="line-height: 1;margin-left: 20px" >
                        <div class="messi-text">
                            <a href="{{ path('cuenta') ~ '?id=' ~ app.session.get('id') }}"
                               style="margin-bottom:10px; color: #ff1493; text-decoration: none">{{ app.session.get('nombre') }}</a>
                        </div>
                        <form method="post" action="/logout">
                            <button class="btn btn-sm btn-inicio" name="logout" style="font-size: 1rem;">Cerrar sesión</button>
                        </form>
                    </div>
                {% else %}
                    <a href="/login" style="margin-left: 20px;"><img src="{{ asset('../assets/images/login.png') }}" alt="login" class="icon" style="height: 30px;"></a>
                {% endif %}

            </div>


        </div>

        <!-- Offcanvas Menu -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu"
             data-bs-backdrop="true" aria-labelledby="offcanvasMenuLabel"
             style="background-color: rgb(251,209,240); max-height: 300px; max-width: 250px; border-bottom-right-radius: 20px;border-bottom:1px solid deeppink;border-right:1px solid deeppink">

            <!--<div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>-->
                <div class="offcanvas-body">
                    <a href="/" class="d-block mb-2" >Inicio</a>
                    <a href="/quienes-somos" class="d-block mb-2" style="text-decoration: none">Quiénes Somos</a>
                    <a href="/servicios" class="d-block mb-2" style="text-decoration: none">Servicios</a>
                    <a href="/productos" class="d-block mb-2" style="text-decoration: none">Productos</a>
                    <a href="/contacto" class="d-block mb-2" style="text-decoration: none">Contacto</a>
                </div>
            </div>
        </header>

{% endblock %}