{% extends 'base.html.twig' %}

{% block title %}Tu perfil | {{ parent() }}{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <div id="mainPerfil">
        {# Div de los datos de la tarjeta #}
        <div id="mainPerfilDatos" style="margin-left: 550px;">
            {# usuarioRegistrado es un objeto, por lo que hay que llamarlo por sus atributos
        hola {{ usuarioRegistrado.id }}, eres {{ usuarioRegistrado.nombre }} {{ usuarioRegistrado.apellido1 }} {{ usuarioRegistrado.apellido2 }} #}
            <form method="POST" action="#">
                <h3>Datos de la cuenta</h3>
                <br/>

                <label>
                    Email*
                    <br/>
                    <input type="text" name="email" value="{{ usuarioRegistrado.email }}">
                </label>
                <br/><br/>

                <label>
                    Contraseña*
                    <br/>
                    <input type="password" name="password" id="password" value="{{ usuarioRegistrado.password }}">
                    <br/>
                    <input type="checkbox" onclick="mostrarPassword()" style="width: 10px; !important;"> Mostrar
                    contraseña
                </label>
                <br/><br/><br/>

                <h3>Datos personales</h3>
                <br/>

                <input type="radio" name="sexo" value="Hombre" style="width: 30px;" {% if usuarioRegistrado.sexo is same as "Hombre"  %} checked {% endif %}> Hombre
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="sexo" value="Mujer" style="width: 30px;" {% if usuarioRegistrado.sexo is same as "Mujer"  %} checked {% endif %}> Mujer
                <br/><br/>

                <label>
                    Nombre*
                    <br/>
                    <input type="text" name="nombre" value="{{ usuarioRegistrado.nombre }}">
                </label>
                <br/><br/>

                <label>
                    Apellidos*
                    <br/>
                    <input type="text" name="apellido"
                           value="{{ usuarioRegistrado.apellido1 }} {{ usuarioRegistrado.apellido2 }}">
                </label>
                <br/><br/>

                <label>
                    Fecha de Nacimiento*
                    <br/>
                    <input type="text" name="fechaNacimiento"
                           value="{{ usuarioRegistrado.fechaNacimiento is defined and usuarioRegistrado.fechaNacimiento ? usuarioRegistrado.fechaNacimiento|date('d/m/Y') : '' }}"
                           placeholder='01/01/2015' onfocus="(this.type = 'date')" onblur="(this.type = 'text')">
                </label>
                <br/><br/>

                <label>
                    Domicilio*
                    <br/>
                    <input type="text" name="domicilio" value="{{ usuarioRegistrado.domicilio.domicilio|default('') }}"
                           placeholder="Nombre y número de la calle">
                </label>
                <br/><br/>

                <label>
                    Portal
                    <br/>
                    <input type="text" name="portal" value="{{ usuarioRegistrado.domicilio.portal|default('') }}" placeholder="Nº"
                           style="width: 55px;">
                </label>

                <label>
                    Piso
                    <br/>
                    <input type="text" name="piso" value="{{ usuarioRegistrado.domicilio.piso|default('') }}" placeholder="Nº"
                           style="width: 55px;">
                </label>

                <label>
                    Puerta
                    <br/>
                    <input type="text" name="puerta" value="{{ usuarioRegistrado.domicilio.puerta|default('') }}" placeholder="Nº"
                           style="width: 55px;">
                </label>

                <label>
                    CP*
                    <br/>
                    <input type="text" name="cp" value="{{ usuarioRegistrado.domicilio.cp|default('') }}" placeholder="Nº"
                           style="width: 55px;">
                </label>
                <br/><br/>

                <label>
                    Localidad*
                    <br/>
                    <input type="text" name="localidad" value="{{ usuarioRegistrado.domicilio.localidad|default('') }}"
                           placeholder="Localidad"
                           style="width: 137px;">
                </label>

                <label>
                    Provincia*
                    <br/>
                    <input type="text" name="provincia" value="{{ usuarioRegistrado.domicilio.provincia|default('') }}"
                           placeholder="Provincia"
                           style="width: 137px;">
                </label>
                <br/><br/>

                <label>
                    Teléfono*
                    <br/>
                    <input type="tel" name="telefono1" value="{{ usuarioRegistrado.telefono1|default('') }}"
                           placeholder="+34" maxlength="9">
                </label>
                <br/><br/>

                <label>
                    Teléfono 2
                    <br/>
                    <input type="tel" name="telefono2" value="{{ usuarioRegistrado.telefono2|default('') }}"
                           placeholder="+34" maxlength="9">
                </label>
                <br/><br/>

                <button class="custom-btn" style="width: 150px" type="submit" name="submit">Guardar datos</button>
                &nbsp;
                <button class="custom-btn" style="width: 150px">Eliminar cuenta</button>
            </form>
        </div>

        {# Div de los datos de la tarjeta #}
        <div id="mainPerfilTarjeta"
             style="background-color: hsla(340, 84%, 94%, 0.7); margin-right: 550px; padding: 20px 5px 20px 20px;">
            <h3>Tarjeta de crédito guardada</h3>
            <br/>

            <label>
                Titular de tarjeta
                <br/>
                <input type="text" name="titular" value="{{ tarjeta.titular|default('') }}"
                       placeholder="Titular de tarjeta">
            </label>
            <br/><br/>

            <label>
                Número de tarjeta
                <br/>
                <input type="tel" name="numeroTarjeta" value="{{ tarjeta.numeroTarjeta|default('') }}"
                       placeholder="0000 0000 0000 0000" inputmode="numeric"
                       autocomplete="cc-number" maxlength="16">
            </label>
            <br/><br/>

            <label>
                Fecha de vencimiento
                <br/>
                <select name="fechaVencimientoMes" style="width: 60px;">
                    <option value="{{ tarjeta.fechaVencimientoMes|default('') }}">Mes</option>
                    {% for i in 1..12 %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                /
                <select name="fechaVencimientoYear" style="width: 60px;" id="vencimientoYear">
                    <option value="{{ tarjeta.fechaVencimientoYear|default('') }}">Año</option>
                </select>
            </label>

            <label>
                CVC
                <br/>
                <input type="tel" name="cvc" value="{{ usuarioRegistrado.cvc|default('') }}" placeholder="000"
                       inputmode="numeric" maxlength="3" style="width: 60px;">
            </label>
            <br/><br/>

            <button class="custom-btn" style="width: 150px">Añadir tarjeta</button>
            &nbsp;
            <button class="custom-btn" style="width: 150px">Borrar tarjeta</button>
        </div>
    </div>

    {% include '_footer.html.twig' %}

    {% block javascripts %}
        <script>
            function mostrarPassword() {
                var password = document.getElementById('password');
                if (password.type === 'password') {
                    password.type = 'text';
                } else {
                    password.type = 'password';
                }
            }

            function vencimientoYear() {
                var yearVencimiento = document.getElementById('vencimientoYear');
                var yearActual = new Date().getFullYear();
                var ultimas2Cifras = yearActual % 100;
                for (let i = 0; i < 15; i++) {
                    var year = ultimas2Cifras + i;
                    var option = document.createElement('option');
                    option.value = year;
                    option.textContent = year;
                    yearVencimiento.appendChild(option);
                }
            }

            vencimientoYear();
        </script>
    {% endblock %}

{% endblock %}
